.border-standard{
  padding-left: 100px;
  padding-right: 100px;
}
.display-score{
  color: red;
}

/*QandA CSS*/
.card{
  text-align: center;
  margin-top: 30px;
}
.option-card:hover{
  border: solid 1px rgb(132, 226, 255);
  background-color: aliceblue;
  cursor: pointer;
}
.question-card{
  border: none;
  color: rgb(39, 39, 133);
}

/*Header CSS*/
.navbar-brand{
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid rgba(25, 201, 255, 0.892) 3px;
}
.navbar{
  margin-bottom: 20px;
}
.timer-word{
  color: rgba(25, 201, 255, 0.892);
  font-size: large;
}


/*Footer CSS*/
.grey-muted{
  color: rgb(156, 156, 156);
  
}
.footer-button{
  text-align: right;
}
.next-button{
  color: white;
  width: 200px;
}
.footer{
  position: fixed;
  margin-bottom: 60px;
  bottom: 0;
  width: 100%;
}
